body{
  overflow-x: hidden;
}
#menu {
    display: flex;
    background-color: white;
    overflow: hidden;
    width: 100%;
    margin: -20px;
    align-items: center;
    padding: 20px;
  }
  
#page {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 15px;

}
#menu li a {
  text-decoration: none;
  color: gray;
  text-align: center;
  display: block;
  

}

#login{
  text-decoration: none;
  align-items: right;
  padding-left:20px;
  display: inline-block;
  font-size: 15px;
}

button{
  background-color: rgb(122, 6, 6);
  color :white;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
}

#menu img {
  height: 50px;
  width: auto;
  align-items: left;
}

#conteiner{
    text-align: center;
    height: 350px;
    width: 100%;
}
#Sobrenós{
  font-size: 25px;
  color:rgb(122, 6, 6); 
  font-weight: bold;
  padding-top: 50px;
}

#titulo{
font-weight: bold;
font-size: 50px;
}
#titulo1{
  font-weight: bold;
  font-size: 50px;
  margin-top: -180px;
  }
#description{
color: grey;
font-size: 20px;
}
#description1{
color: grey;
font-size: 20px;
margin-top: -17px;
}
#description2{
color: grey;
font-size: 15px;
}
#center-content {
  margin: auto;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
}
#numeros{
  color:rgb(122, 6, 6);
  font-size: 50px; 
  font-weight: bolder;
}
#oqueé{
  font-weight: bolder;
  font-size: 20px;
}
#vagas{
  color:rgb(122, 6, 6);  
  background-color: rgb(235, 186, 186);
  border-radius: 10px;
  width: 110px;

}
.centralizado {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100%; 
  }

  .container-vaga-design{
    display: block;
    width: 100%;
    padding: 0px 32px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }
  @media  (max-width:2000px) and (min-width:500px) {
    #teste {
      padding-left:20vw ;
    }
  }
  @media screen and (min-width:2000px                           ){
    #teste {
      padding-left:30vw ;
    }
  }

.conteudo-vaga-design{
    display: flex;
    width: 768px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.titulo-vaga-design{
    align-self: stretch;
    color: var(--Gray-900, #101828);
/* Text xl/Medium */
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}

.items-job-post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 768px;
}

.job-post{
    display: flex;
    padding: 24px 24px 28px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--Gray-200, #EAECF0);
    background: var(--Base-White, #FFF);
}

.content-job-post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.titulo-job-post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.titulo{
    align-self: stretch;
    color: var(--Gray-900, #101828);
/* Text lg/Medium */
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.detalhes-job-post{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.tipo-job{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--Gray-500, #667085);
/* Text md/Medium */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.salario{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--Gray-500, #667085);
/* Text md/Medium */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.container-formulario{
  display: flex;
  height: 182px;
  padding: 0px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.content-formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.titulo-texto-formulario{
  display: flex;
  width: 768px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
 .card{
  text-align: center;
  display: block;
  height: 100%;
  margin: 10px; ;
  background-color: rgb(235, 186, 186);
 }
  #colaborador{
    color:rgb(122, 6, 6);
    font-weight: bold;
    font-size: medium; 
    padding-top: 15px;
  }
  #titulo2{
    font-weight: bold;
    font-size: xx-large;
  }
  #titulo3{
    font-weight: bold;
    font-size: xx-large;
  }

.titulo-formulario{
  align-self: stretch;
  color: var(--Gray-900, #101828);
  text-align: center;
/* Display md/Semibold */
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.72px;
}

.texto-formulario{
  align-self: stretch;
  color: var(--Gray-500, #667085);
  text-align: center;
/* Text xl/Normal */
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.email-formulario{
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 492px;
}

.input-email{
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
}

.input-campo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.input-label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.input{
  display: flex;
  padding: 12px 14px 12px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D0D5DD;    
  background: var(--Base-White, #FFF);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05); 
}

.input-content{
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  width: 330px;
}

.input-texto{
  flex: 1 0 0;
  color: var(--Gray-500, #667085);
/* Text md/Normal */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */ 
}

.button-form{
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
}

.base-button-form{
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #8E2424;
  background: #8E2424;
/* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.texto-button-form{
  color: var(--Base-White, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.direitos{
  display: flex;
  height: 182px;
  padding: 0px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}
#perfil{
  height: 70px;
  background-color: antiquewhite;
  border-radius: 40px;
}
footer{
  background-color: #abb9da;

}